<footer class="main-footer">
  <div class="footer-categories-bar">
    <div class="category"><i class="fas fa-laptop"></i><span>Electrónica</span></div>
    <div class="category"><i class="fas fa-apple-alt"></i><span>Alimentos</span></div>
    <div class="category"><i class="fas fa-wine-glass-alt"></i><span>Bebidas</span></div>
    <div class="category"><i class="fas fa-shirt"></i><span>Indumentaria</span></div>
    <div class="category"><i class="fas fa-gamepad"></i><span>Juegos</span></div>
    <div class="category"><i class="fas fa-car"></i><span>Automotor</span></div>
    <div class="category"><i class="fas fa-house"></i><span>Hogar</span></div>
    <div class="category"><i class="fas fa-gift"></i><span>Otros</span></div>
  </div>
  <div class="footer-bottom">
    <div class="footer-social-left">
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-x-twitter"></i>
      <i class="fa-brands fa-facebook"></i>
      <i class="fa-brands fa-youtube"></i>
    </div>
    <p class="footer-rights">© MiEcommerce. Todos los derechos reservados.</p>
    <div class="footer-apps-right">
      <i class="fa-brands fa-google-play"></i>
      <i class="fa-brands fa-apple"></i>
    </div>
  </div>
</footer>