<div class="footer-categories-bar">
    <div class="category"><i class="fas fa-laptop"></i><span>Electrónica</span></div>
    <div class="category"><i class="fas fa-apple-alt"></i><span>Alimentos</span></div>
    <div class="category"><i class="fas fa-wine-glass-alt"></i><span>Bebidas</span></div>
    <div class="category"><i class="fas fa-shirt"></i><span>Indumentaria</span></div>
    <div class="category"><i class="fas fa-gamepad"></i><span>Juegos</span></div>
    <div class="category"><i class="fas fa-car"></i><span>Automotor</span></div>
    <div class="category"><i class="fas fa-house"></i><span>Hogar</span></div>
    <div class="category"><i class="fas fa-gift"></i><span>Otros</span></div>
  </div>