<%- include('../partials/header') %>

<main class="checkout-container">
  <h1 class="checkout-title">Total a Pagar</h1>
  <p class="checkout-total">Total: 26.420 puntos</p>
  <button class="btn-checkout">Confirmar Pago</button>
</main>

<%- include('../partials/footer') %>